<%= search_form_for @q do |f| %>

  <%= f.label :title_cont %>
  <%= f.search_field :title_cont, id:"search-field" %>

  <%= f.submit %>
<% end %>

<div id="projects">
  <%= render @projects %>
</div>

<%= paginate @projects %>
<%= link_to "New Project", new_project_path %>
